*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: sans-serif;
}

/* UTILITIES */
.display-none{
    display:none;
}

.flex{
    display: flex;
}
/* LAYOUT */
#app{
    height: 100vh;
}

.row{
    display: flex;
}

.container{
    max-width: 100%;
}

.col12{
    width: 100%;
}
/* END LAYOUT */

/* RIGHT PART */
.col__header{
    background-color: #EAEAEA;
    height: 70px;
}

.contact{
    align-items: center;
}

.contact__img{
    padding: 5px 10px;
}

.contact__img img{
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.last-access{
    line-height: 20px;
    font-size: 13px;
    color: #6E7477;
}

@media (min-width:980px){
    .col__header{
        display: flex;
        align-items: center;
    }
    .menu{
        display: block;
    }
}








/* DEBUG */
#app{
    /* padding: 20px; */
}

.debug .container{
    border: 1px solid black;
    height: 100%;
}

.debug .col{
    border: 1px solid rgb(255, 0, 179);
    padding: 10px;
    height: 100%;
}

.col__header{
    border: 1px solid blue;
}

.col__body{
    border: 1px solid green;
}

.col__footer{
    border: 1px solid red;
}